/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.tippy-tooltip.light-border-theme {
  /* HTML5 display-role reset for older browsers */
}
.tippy-tooltip.light-border-theme html, .tippy-tooltip.light-border-theme body, .tippy-tooltip.light-border-theme div, .tippy-tooltip.light-border-theme span, .tippy-tooltip.light-border-theme applet, .tippy-tooltip.light-border-theme object, .tippy-tooltip.light-border-theme iframe,
.tippy-tooltip.light-border-theme h1, .tippy-tooltip.light-border-theme h2, .tippy-tooltip.light-border-theme h3, .tippy-tooltip.light-border-theme h4, .tippy-tooltip.light-border-theme h5, .tippy-tooltip.light-border-theme h6, .tippy-tooltip.light-border-theme p, .tippy-tooltip.light-border-theme blockquote, .tippy-tooltip.light-border-theme pre,
.tippy-tooltip.light-border-theme a, .tippy-tooltip.light-border-theme abbr, .tippy-tooltip.light-border-theme acronym, .tippy-tooltip.light-border-theme address, .tippy-tooltip.light-border-theme big, .tippy-tooltip.light-border-theme cite, .tippy-tooltip.light-border-theme code,
.tippy-tooltip.light-border-theme del, .tippy-tooltip.light-border-theme dfn, .tippy-tooltip.light-border-theme em, .tippy-tooltip.light-border-theme img, .tippy-tooltip.light-border-theme ins, .tippy-tooltip.light-border-theme kbd, .tippy-tooltip.light-border-theme q, .tippy-tooltip.light-border-theme s, .tippy-tooltip.light-border-theme samp,
.tippy-tooltip.light-border-theme small, .tippy-tooltip.light-border-theme strike, .tippy-tooltip.light-border-theme strong, .tippy-tooltip.light-border-theme sub, .tippy-tooltip.light-border-theme sup, .tippy-tooltip.light-border-theme tt, .tippy-tooltip.light-border-theme var,
.tippy-tooltip.light-border-theme b, .tippy-tooltip.light-border-theme u, .tippy-tooltip.light-border-theme i, .tippy-tooltip.light-border-theme center,
.tippy-tooltip.light-border-theme dl, .tippy-tooltip.light-border-theme dt, .tippy-tooltip.light-border-theme dd, .tippy-tooltip.light-border-theme ol, .tippy-tooltip.light-border-theme ul, .tippy-tooltip.light-border-theme li,
.tippy-tooltip.light-border-theme fieldset, .tippy-tooltip.light-border-theme form, .tippy-tooltip.light-border-theme label, .tippy-tooltip.light-border-theme legend,
.tippy-tooltip.light-border-theme table, .tippy-tooltip.light-border-theme caption, .tippy-tooltip.light-border-theme tbody, .tippy-tooltip.light-border-theme tfoot, .tippy-tooltip.light-border-theme thead, .tippy-tooltip.light-border-theme tr, .tippy-tooltip.light-border-theme th, .tippy-tooltip.light-border-theme td,
.tippy-tooltip.light-border-theme article, .tippy-tooltip.light-border-theme aside, .tippy-tooltip.light-border-theme canvas, .tippy-tooltip.light-border-theme details, .tippy-tooltip.light-border-theme embed,
.tippy-tooltip.light-border-theme figure, .tippy-tooltip.light-border-theme figcaption, .tippy-tooltip.light-border-theme footer, .tippy-tooltip.light-border-theme header, .tippy-tooltip.light-border-theme hgroup,
.tippy-tooltip.light-border-theme menu, .tippy-tooltip.light-border-theme nav, .tippy-tooltip.light-border-theme output, .tippy-tooltip.light-border-theme ruby, .tippy-tooltip.light-border-theme section, .tippy-tooltip.light-border-theme summary,
.tippy-tooltip.light-border-theme time, .tippy-tooltip.light-border-theme mark, .tippy-tooltip.light-border-theme audio, .tippy-tooltip.light-border-theme video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.tippy-tooltip.light-border-theme article, .tippy-tooltip.light-border-theme aside, .tippy-tooltip.light-border-theme details, .tippy-tooltip.light-border-theme figcaption, .tippy-tooltip.light-border-theme figure,
.tippy-tooltip.light-border-theme footer, .tippy-tooltip.light-border-theme header, .tippy-tooltip.light-border-theme hgroup, .tippy-tooltip.light-border-theme menu, .tippy-tooltip.light-border-theme nav, .tippy-tooltip.light-border-theme section {
  display: block;
}
.tippy-tooltip.light-border-theme body {
  line-height: 1;
}
/*
style de https://unpkg.com/tippy.js@3/dist/themes/light-border.css
voir https://atomiks.github.io/tippyjs/themes/
*/
.modal-available {
  border-bottom: 1px dotted #ccc;
  font-weight: bold;
  cursor: pointer;
  /* background: #7bb7e0; */
}

.tippy-tooltip.light-border-theme {
  max-width: 550px;
  padding: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 8, 16, 0.15);
  border-radius: 3px;
  box-shadow: 0 3px 14px -0.5px rgba(0, 8, 16, 0.2);
  color: #26323d;
  font-size: 16px;
}
.tippy-tooltip.light-border-theme .person {
  max-height: 400px;
  overflow: hidden;
  background: white;
  position: relative;
}
.tippy-tooltip.light-border-theme .person .person-id {
  text-align: left;
}
.tippy-tooltip.light-border-theme .person .person-id .person-id-picture {
  height: 100px;
  width: 80px;
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  float: left;
  margin: 0 2em 1em 1em;
}
.tippy-tooltip.light-border-theme .person .person-id div {
  color: #4682b4;
}
.tippy-tooltip.light-border-theme .person .person-id div.person-id-name {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}
.tippy-tooltip.light-border-theme .person .person-id .person-id-position, .tippy-tooltip.light-border-theme .person .person-id .person-id-canton, .tippy-tooltip.light-border-theme .person .person-id .person-id-parti {
  display: inline-block;
}
.tippy-tooltip.light-border-theme .person .person-id .person-id-position:after, .tippy-tooltip.light-border-theme .person .person-id .person-id-canton:after {
  content: " |";
}
.tippy-tooltip.light-border-theme .person .person-id .person-lobbywatch-url a, .tippy-tooltip.light-border-theme .person .person-id .person-lobbywatch-url a:visited {
  color: #4682b4;
}
.tippy-tooltip.light-border-theme .person .person-links {
  border-top: 1px solid #ccc;
  clear: left;
  text-align: left;
}
.tippy-tooltip.light-border-theme .person .person-links h3.person-links-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em;
}
.tippy-tooltip.light-border-theme .person .person-links ul.person-links-list li {
  margin: 0 0.5em;
  list-style-type: none !important;
}
.tippy-tooltip.light-border-theme .person .person-links ul.person-links-list li:before {
  /* handelszeitung */
  content: none;
}
.tippy-tooltip.light-border-theme .person .person-links ul.person-links-list li.list-header {
  font-weight: bold;
  margin-top: 0.5em;
}
.tippy-tooltip.light-border-theme .person .show-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eee;
}

/*
MDL
*/
.mdl-button__ripple-container {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.tippy-tooltip.light-border-theme .tippy-backdrop {
  background-color: #fff;
}

.tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-tooltip.light-border-theme .tippy-arrow:before,
.tippy-tooltip.light-border-theme .tippy-roundarrow:after,
.tippy-tooltip.light-border-theme .tippy-roundarrow:before {
  content: "";
  position: absolute;
  z-index: -1;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
  top: 1px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow {
  border-top-color: #fff;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:after {
  border-top: 7px solid #fff;
  top: -7px;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:before {
  border-top: 7px solid rgba(0, 8, 16, 0.2);
  bottom: -1px;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
  top: -1px;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow {
  border-bottom-color: #fff;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:after {
  border-bottom: 7px solid #fff;
  bottom: -7px;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:before {
  border-bottom: 7px solid rgba(0, 8, 16, 0.2);
  bottom: -6px;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
  left: 1px;
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow {
  border-left-color: #fff;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:after {
  border-left: 7px solid #fff;
  left: -7px;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:before {
  border-left: 7px solid rgba(0, 8, 16, 0.2);
  left: -6px;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
  left: -1px;
  top: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow {
  border-right-color: #fff;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:after {
  border-right: 7px solid #fff;
  right: -7px;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:before {
  border-right: 7px solid rgba(0, 8, 16, 0.2);
  right: -6px;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-roundarrow,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-roundarrow {
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:before,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:before {
  left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-roundarrow,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-roundarrow {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:before,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:before {
  top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

/*# sourceMappingURL=contentStyle.css.map */
