.person{
  background: white;
  // colonne de gauche
  .person-id{
    // float: left; -> fait bugger, a voir
    text-align: left;

    .person-id-picture{
      // juste pour tester
      height: 100px;
      width: 80px;
      background-size: cover;
      background-position: center center;
      background-repeat: none;
      float: left;
      margin: 0 2em 1em 0;
    }

    .person-id-name{
      font-size: 2em;
      font-weight: bold;
      margin: .5em 0;
    }
    .person-id-position{

    }
    .person-id-canton{

    }
    .person-id-parti{

    }
  }

  // colonne principale
  .person-links{
    border-top: 1px solid #ccc;
    clear: left;
    // font-size: 1em;
    text-align: left;

    // float: left;
    h3.person-links-title{
      font-size: 1.5em;
    }
  }

}

// Le nom d’un député, souligné en traitillé
.modal-available{
  border-bottom: 1px dotted #ccc;
  font-weight: bold;
  cursor: pointer;
  /* background: #7bb7e0; */
}

img.individual-img{
  max-height: 150px;
  width: auto !important;
  margin: auto;
}

p.individual-info{
  font-size: 1.2em;
  margin: 0;
}
li.individual-list-item{
  text-align: left;
}

/*
MDL
*/
.mdl-button__ripple-container
{
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

/*
  style de https://unpkg.com/tippy.js@3/dist/themes/light-border.css
  voir https://atomiks.github.io/tippyjs/themes/
*/

.tippy-tooltip.light-border-theme {
    max-width: 550px;
    max-height: 400px;
    overflow: hidden;
    background-color: #fff;
    background-clip: padding-box;
    // border: 1px solid rgba(0, 8, 16, .15);
    color: #26323d;
    box-shadow: 0 3px 14px -.5px rgba(0, 8, 16, .08);
    font-size: 14px;
}

.tippy-tooltip.light-border-theme .tippy-backdrop {
    background-color: #fff
}

.tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-tooltip.light-border-theme .tippy-arrow:before,
.tippy-tooltip.light-border-theme .tippy-roundarrow:after,
.tippy-tooltip.light-border-theme .tippy-roundarrow:before {
    content: "";
    position: absolute;
    z-index: -1
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
    top: 1px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow {
    border-top-color: #fff
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:after {
    border-top: 7px solid #fff;
    top: -7px
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:before {
    border-top: 7px solid rgba(0, 8, 16, .2);
    bottom: -1px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
    top: -1px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow {
    border-bottom-color: #fff
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:after {
    border-bottom: 7px solid #fff;
    bottom: -7px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:before {
    border-bottom: 7px solid rgba(0, 8, 16, .2);
    bottom: -6px
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
    left: 1px;
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow {
    border-left-color: #fff
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:after {
    border-left: 7px solid #fff;
    left: -7px
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:before {
    border-left: 7px solid rgba(0, 8, 16, .2);
    left: -6px
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-roundarrow:after {
    left: -1px;
    top: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow {
    border-right-color: #fff
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:after {
    border-right: 7px solid #fff;
    right: -7px
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:before {
    border-right: 7px solid rgba(0, 8, 16, .2);
    right: -6px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-roundarrow,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-roundarrow {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px)
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-border-theme .tippy-arrow:before,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=top] .tippy-tooltip.light-border-theme .tippy-arrow:before {
    left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-roundarrow,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-roundarrow {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px)
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=left] .tippy-tooltip.light-border-theme .tippy-arrow:before,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:after,
.tippy-popper[x-placement^=right] .tippy-tooltip.light-border-theme .tippy-arrow:before {
    top: -7px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent
}
